body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* 添加一个浅灰色背景 */
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; /* 使容器中的内容垂直居中 */
    height: 100%;
    padding: 20px;
}

.text-section, .image-section {
    flex: 1;  /* 这会使两部分平均分配容器的空间 */
    margin: 0 20px; 
    padding: 20px;
    box-sizing: border-box;
}

.text-section {
    background-color: #ffffff; /* 为文本部分添加白色背景 */
    border: 1px solid #e0e0e0; /* 添加边框 */
    border-radius: 10px;  /* 添加圆角 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  /* 添加轻微的阴影 */
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
}

p {
    color: #666;
    font-size: 1.5em;
}

.image-section {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; 
}

.anime-image {
    max-width: 80%;
    height: auto;
    display: none; 
}
